@mycolor: red;
@fontSize: 200px;
@fontColor: #5F6368;
@bgColor: #f2f2f2;

.margin-left-right-procent(@left, @right) {
  margin-left: @left;
  margin-right: @right;
}

.basic-font-style(@font-color: @fontColor) {
  color: @font-color;
  font-size: 14px;
  font-family: arial,sans-serif;
}

.font-location() {
  vertical-align: middle;
}

.width-height(@width, @height) {
  width: @width;
  height: @height;
}

.border-style(@border-color, @border-style: solid, @border-width: 1px, @border-radius: 0px) {
  border: @border-style @border-width @border-color;
  border-radius: @border-radius;
}

.basic-footer-style() {
  .border-style(#e4e4e4);
  .width-height(100%, 41px);
  background-color: @bgColor;
  display: block;
  line-height: 41px;
  text-align: left;
  position: relative;
  top: 178px;
  margin: 0px;

}

header {
  text-align: right;
}

header a {
  padding-left: 15px;
  vertical-align: middle;
}

header img {
  width: 35px;
}

.font-color{
  .basic-font-style();
}

.googlename {
  font-size: @fontSize;

}

.googleimg {
  .margin-left-right-procent(33%, 30%);
  margin-top: 180px;
}

.search {
  .width-height(580px, 50px);
  .margin-left-right-procent(33%, 30%);
  .border-style(@fontColor, solid, 1px, 30px);
}

a{
  .basic-font-style();
  text-decoration:none;
}

.button-div{
  .margin-left-right-procent(36%, 30%);
  padding-top: 30px;
}

.button-style {
  .width-height(200px, 40px);
  background-color: @bgColor;
  margin-left: 20px;
  border-radius: 5px;
}

p {
  .basic-font-style();
  vertical-align: middle;
  text-align: center;
}

p a {
  .basic-font-style(blue);
  margin-left: 10px;
}

footer p {
  .basic-footer-style();
}

footer a {
  .basic-font-style();
   margin-right: 5px ;
}
